google-cloud-bigquery
apache-airflow-providers-google
apache-airflow-providers-apache-beam
pandas
pyarrow
loguru
apache-airflow-providers-smtp
google-cloud-storage
faker
python-dotenv
oracledb
apache-beam[gcp]